<div id="genre-list-container">
    <span class="container-title">Genres:</span>
    <ul class="genre-list">
        <li><span class="all genre selected">All</span></li>
        {{#each genre}}
            <li><span class="genre">{{this}}</span></li>
        {{/each}}
    </ul>
</div>
