<div id="genre-list-container">
    <span class="container-title">Genre</span>
    <ul class="genre-list">
        {{#each genre}}
            <li><span>{{this}}</span></li>
        {{/each}}
    </ul>
</div>
