/*Colors*/
/*Fonts*/
html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.logo {
  position: relative;
  top: 13px;
  left: 117px;
  color: #ffffff;
  font-family: 'Questrial', sans-serif;
  font-size: 40px;
}
.logo:before {
  width: 52px;
  height: 59px;
  left: -59px;
  top: -25px;
  position: absolute;
  content: '';
  background: url('/img/logo.png') no-repeat;
  background-size: contain;
}
#main-container {
  height: auto;
  min-height: 100%;
  margin-bottom: -44px;
  background: url('/img/record-store-bg.jpg') no-repeat fixed;
  background-size: cover;
  position: relative;
}
#record-list {
  width: 70%;
  height: 100px;
  margin: 0 auto;
  background-color: #808080;
}
footer {
  width: 100%;
  height: 44px;
  position: relative;
  z-index: 10;
  background-color: #cfc1df;
  padding: 10px 0;
  text-align: center;
}
.form-input {
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 10px;
  font-size: 16px;
}
