<div class="col-md-8">
    <p>Songs Here</p>
    {{#each songs}}
        <ul>
            <li>Title</li>
            <li>{{album}}</li>
            <li>Artist</li>
            <li>{{artist}}</li>
        </ul>
    {{/each}}
</div>
