<br />
<br />
<br />
<br />
<div class="best plugin ever">
    This is my {{ adjective }} template.

    {{! To include a partial: }}
    {{! just provide the path to the partial without the extension }}

    {{> App/Templates/CoolPartial }}

    {{! the path can also be relative to the current template: }}
    {{> ./coolPartial }}
</div>