<br />
<br />

<h3>Form Enter</h3>

<br />
<form action="/" method="post">
    <label for="song">Song</label>
    <input id="song" name="songTitle">  <br />

    <label for="album">Album</label>
    <input id="album" name="albumTitle">    <br />

    <label for="artist">Artist</label>
    <input id="artist" name="artistTitle">    <br /><br />

    <button type="submit">Submit</button>
</form>